body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #333;
    
    color: #fff;
    padding: 1px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

main {
    padding: 20px;
}

#produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.produto {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    width: 200px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.produto:hover {
    transform: scale(1.05);
}

.produto img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

.produto h2 {
    font-size: 1.2em;
    margin: 10px 0;
}

.produto p {
    margin: 5px 0;
}

.produto strong {
    color: #333;
}